* {
    box-sizing: border-box;
}

.container {
    border: 2px solid lightgray;
    padding: 80px 24px 56px 24px;
}

.row {
    width: 100%;
    max-width: 600px;
    margin: 0 auto -24px auto;
    display: flex;
    justify-content: space-between;
}

.box {
    border: 4px solid lightgray;
    margin-bottom: 24px;
}

.box-wide {
    height: 50px;
}

.box-small {
    width: 30%;
    height: 50px;
}

.small-wrapper {
    display: flex;
    justify-content: space-between;
}

.wide-wrapper {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.box-large {
    width: 50%;
}